{% extends "base.html" %} {# 1. ADIM: base.html'den kalıtım al #}

{# 2. ADIM: Tarayıcı sekmesindeki başlığı belirle #}
{% block title %}Kullanıcı Panosu - Envanter Sistemi{% endblock %}

{# 3. ADIM: Sayfaya özel ana içeriği buraya yaz #}
{% block content %}
    <header>
        <p class="text-center text-white-50 lead mb-5">
        Kullanıcı panonuzdan işlemlerinizi hızlıca gerçekleştirebilirsiniz.
        </p>
    </header>
    <div class="sifre_degistir_container">
        <h2>Şifreni Değiştir</h2>
        <div class="islem_ekrani">
        <!-- FLAŞ MESAJLARI GÖSTERME ALANI BAŞLANGICI -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <!-- 'category' python'dan gelen 'success' veya 'danger' kelimesidir -->
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        <!-- FLAŞ MESAJLARI GÖSTERME ALANI BİTİŞİ -->
            <form action="{{url_for('sifre_degistir')}}" method="POST">
                <table>
                    <tr><td>Kullanıcı Adı:</td><td><input class="veriGiris" type="text" name="kullanici_adi" value="{{data[0]}}"></td></tr>
                    <tr><td>E-mail Adresi:</td><td><input class="veriGiris" type="email" name="e_mail" value="{{data[1]}}"></td></tr>
                    <tr><td>Yeni Şifre:</td><td><input class="veriGiris" type="password" name="sifre"></td></tr>
                    <tr><td>Şifre Tekrarı:</td><td><input class="veriGiris" type="password" name="sifreTekrar"></td></tr>
                    <tr><td colspan="2"><input class="onay_butonu" type="submit" value="KAYDET"></td></tr>
                </table>
            </form>
        </div>
        <div class="anasayfaya_don">
            <ul>
                <li><a href="{% if session['rol'] == 'admin' %}{{ url_for('dashboard_admin') }}{% else %}{{ url_for('dashboard_user') }}{% endif %}">Anasayfaya Dön</a></li>
            </ul>
        </div>
    </div>
{% endblock %}