<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Envanter Yönetim Sistemi</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
        <link rel="icon" href="{{url_for('static', filename='images/favicon.png')}}">
    </head>
    <body>

         <div class="sifre_degistir_container">
        <h2>Şifreni Değiştir</h2>
        <div class="islem_ekrani">
        <!-- FLAŞ MESAJLARI GÖSTERME ALANI BAŞLANGICI -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <!-- 'category' python'dan gelen 'success' veya 'danger' kelimesidir -->
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        <!-- FLAŞ MESAJLARI GÖSTERME ALANI BİTİŞİ -->
            <form action="{{url_for('sifremi_unuttum')}}" method="POST">
                <table>
                    <tr><td>Kullanıcı Adı:</td><td><input class="veriGiris" type="text" name="kullanici_adi"></td></tr>
                    <tr><td>E-mail Adresi:</td><td><input class="veriGiris" type="email" name="e_mail"></td></tr>
                    <tr><td>Yeni Şifre:</td><td><input class="veriGiris" type="password" name="sifre"></td></tr>
                    <tr><td>Şifre Tekrarı:</td><td><input class="veriGiris" type="password" name="sifreTekrar"></td></tr>
                    <tr><td colspan="2"><input class="onay_butonu" type="submit" value="KAYDET"></td></tr>
                    <tr><td colspan="2"><a class="btn btn-lightblue" href="{{url_for('open_login_page')}}">Geri Dön</a></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>